{%- liquid
  assign width = block.settings.width
  assign width_mobile = block.settings.width_mobile
-%}

<div
  class="hdt-group-block hdt-size-style hdt-spacing-style 
  {% if block.settings.colors_by_block %}hdt-s-gradient{% endif %}
  {{ block.settings.group_rounded }}
  hdt-oh
  hdt-block-width-{{ width }}
  hdt-block-width-mobile-{{ width_mobile }}"
  
  {% if block.settings.colors_by_block %}
    color-scheme="{{ block.settings.color_scheme }}"
  {% endif %}

  style="
    {% render 'group-size-style', settings: block.settings %}
    {% render 'group-padding-style', settings: block.settings %}
  "

  {{ block.shopify_attributes }}
>

  <div
    class="
    hdt-group-content
    hdt-layout-flex
    hdt-layout-flex--{{ block.settings.content_direction }}
    {% if block.settings.vertical_on_mobile %}
      hdt-layout-flex--col-on-mobile
    {% endif %}
    "
    
    style="
      {% render 'group-layout-panel', settings: block.settings %}
    "
  >

    {% content_for "blocks" %}

  </div>

</div>


{% schema %}
{
  "name": "Group",

  "tag": null,

  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "heading"
    },
    {
      "type": "spacer"
    },
    {
      "type": "icon"
    },
    {
      "type": "_banner-item"
    },
    {
      "type": "_countdown"
    },
    {
      "type": "_linklist"
    },
    {
      "type": "payment"
    },
    {
      "type": "_liquid"
    },
    {
      "type": "_space_html"
    },
    {
      "type": "_newsletter"
    }
  ],


  "settings": [

    {
      "type": "header",
      "content": "Layout"
    },


    {
      "type": "select",
      "id": "content_direction",
      "label": "Direction",
      "options": [
        {
          "value": "column",
          "label": "Vertical"
        },
        {
          "value": "row",
          "label": "Horizontal"
        }
      ],
      "default": "column"
    },


    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "Vertical on mobile",
      "default": false
    },


    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },


    {
      "type": "header",
      "content": "Size"
    },


    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "fit-content"
    },


    {
      "type": "range",
      "id": "custom_width",
      "label": "Custom width",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "default":100
    },


    {
      "type": "select",
      "id": "width_mobile",
      "label": "Mobile width",
      "options":[
        {
          "value":"fit-content",
          "label":"Fit"
        },
        {
          "value":"fill",
          "label":"Fill"
        },
        {
          "value":"custom",
          "label":"Custom"
        }
      ],
      "default":"fit-content"
    },


    {
      "type":"range",
      "id":"custom_width_mobile",
      "label":"Mobile custom width",
      "min":0,
      "max":100,
      "step":1,
      "unit":"%",
      "default":100
    },


    {
      "type":"header",
      "content":"Appearance"
    },


    {
      "type":"checkbox",
      "id":"colors_by_block",
      "label":"Display color by blocks",
      "default":false
    },


    {
      "type":"color_scheme",
      "id":"color_scheme",
      "label":"Color scheme",
      "default":"scheme-1"
    },


    {
      "type":"select",
      "id":"group_rounded",
      "label":"Rounded",
      "options":[
        {
          "value":"",
          "label":"None"
        },
        {
          "value":"hdt-radius-sm",
          "label":"Small"
        },
        {
          "value":"hdt-radius",
          "label":"Medium"
        },
        {
          "value":"hdt-radius-lg",
          "label":"Large"
        },
        {
          "value":"hdt-radius-full",
          "label":"Pill"
        }
      ],
      "default":""
    },


    {
      "type":"header",
      "content":"Spacing"
    },


    {
      "type":"range",
      "id":"padding_top",
      "label":"Padding top",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "default":0
    },


    {
      "type":"range",
      "id":"padding_bottom",
      "label":"Padding bottom",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "default":0
    },


    {
      "type":"range",
      "id":"padding_left",
      "label":"Padding left",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "default":0
    },


    {
      "type":"range",
      "id":"padding_right",
      "label":"Padding right",
      "min":0,
      "max":100,
      "step":1,
      "unit":"px",
      "default":0
    }

  ],


  "presets":[
    {
      "name":"Group"
    }
  ]

}
{% endschema %}